fastapi
uvicorn
sqlalchemy
pydantic
pydantic[email]
python-multipart
psycopg2-binary          
passlib[bcrypt]
python-jose
email-validator
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
cryptography